@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
  
  * {
     margin:0;
     padding:0;
     font-family: 'Source Serif Pro', serif;
     box-sizing: border-box;
 }

  /*Variable para modo oscuro*/

 :root {
   --principal: #369e61;
   --primary-color: #cccccc;
   --bg-color: #272626;
   --sombra: 0.62rem 0.62rem 0rem 0rem #369e61, 1.25rem 1.25rem #6fc290, 1.87rem 1.87rem 0.87rem #8cebb3;
 }


 body {
     font-size: 16px;
     background-color: var(--bg-color);
     color: var(--primary-color);
 }

  /* Barra de desplazamiento (scroll)*/

 body::-webkit-scrollbar {
     width: 0.62rem;
 }

 body::-webkit-scrollbar-thumb {
     background: var(--principal);
 }

  /* Menu de navegación*/

 .contenedor {
    background-color: var(--bg-color);
    width:100%;
    height: 5.19rem;
    position: fixed;
    overflow: hidden;
    max-width: 10000px;
    z-index: 2000;
    box-shadow: 0 4px 45px -22px black;  
    top:0;  
 }

 .contenedor::before {
    content: '';
    background: var(--principal);
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3000;
 }

 nav {
    width: 100%;
 }

 .menu_bar {
     display:none;
 }

 .logo {
     width: 4.31rem;
     float: left; 
     position: absolute;
     margin: 8px 0 0 5px;
 }

 header nav {
    overflow: hidden;
 }

 header nav ul {
    list-style: none; 
 }

 header nav ul li {
    float: left;
 }


 nav #alinear_menu {
   display: flex;
   justify-content: center;
 }

 header nav ul li a {
    padding: 1.9rem 1rem;
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
 }


 header nav ul li a span {
    margin-right: 0.5rem;
 }

 header nav ul li a i {
    margin: 0 5px 0 0;

 }
 
 #inicio a {
    font-size: 1rem;
 }

 .aviso_envio {
    width: 310px;
    height: 30px;
    position: fixed;
    top: 83px;
    right:10px;
    background: var(--principal);
    color: var(--bg-color);
    z-index: 7;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    padding: 5px 5px 0 5px;
 }

 .Aromáticas_Verduras:hover {
    color: rgb(23, 173, 35);
 }

 .De_Jardín:hover {
   color: rgb(28, 97, 19);
 }

 .Con_Flores:hover {
    color: rgb(150, 60, 150);
 }

 .Arbolitos_Palmeras:hover {
    color: rgb(84, 105, 25);
 }

 .Citrus:hover {
    color: rgb(160, 151, 30);
 }

 .Yuyitos:hover {
    color: rgb(97, 72, 34);
 }

 .ubi-home:hover {
    color: var(--principal);
 }

 .Macetas:hover {
    color: rgb(182, 130, 52);
 }

 .Cactus_Suculentas:hover {
   color: #51be7e;
 }

 

 /* Barra lateral*/
 
 
 .btn-menu {
    border: none;
    background: var(--principal);
 }

 .btn-menu i {
    margin: 10px;
 }

 .pushbar {
    background: rgb(53, 53, 53);
    color: var(--primary-color);
    padding: 20px;
 }

 .pushbar .btn-cerrar.izquierda {
    text-align: left;
 }

 .pushbar .btn-cerrar button {
    background: none;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 20px;
 }

 .pushbar .btn-cerrar button:hover {
   color: var(--principal);
}

.btn-menu-pushbar {
    position: absolute;
    left: 95%;
    top: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 15px 5px;
}


 /* Carrito de compras */

 .table__productos > img {
    width: 9rem;
    object-fit: contain;
    border-radius: 6px;
    margin-right: 20px;
 }

 .table__cantidad > input {
    width: 40px;
    border: none;
    outline: 0;
    font-size: 16px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
 }

 .alert {
    z-index: 40000;
    margin-top: 1.2rem;
    position: fixed;
    width: 100%;
    text-align: center;
    border: none;
    color: var(--bg-color);
    font-weight: 600;
 }

 .alert-primary {
   width: 100%;
   margin: 30px 10px;
   padding: 10px;
   border-radius: 10px;
 }

 .hide, .remove {
    display: none;
 }

 .menu h4 {
    font-size: 2rem;
    text-align: center;
    color: var(--principal);
 }

 .title {
    font-size: 1rem;
    margin: 8px;
 }

 .table__precio p {
    margin: 8px;
 }

 
  /* Portada*/

 .portada {
    width: 100%;
    height: 31.25rem;
    position: relative;
    margin-top: 4rem;
    background-image: url(../imagenes/portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .portada::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
 }

 .titulo {
    max-width: 50rem;
    height: 31.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
 }

 .titulo h1 {
    font-size: 6.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    padding: 10px;
    color: var(--primary-color);
 }

 .titulo h1 b {
   font-weight: 700;
 }

 .titulo p {
    font-size: 3rem;
    font-weight: 700;
    color: var(--primary-color);
 }

 .titulo .redes a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
    font-size: 20px;  
 }
 
 .titulo .redes a:hover {
   color: var(--principal);
   font-size: 21px;
 }

 .titulo .redes a i {
    margin: 0 5px 0 0;
 }

 /*Buscador interno*/

 #ctn-icon-search{
    position: absolute;
    left: 92%;
    top: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 15px 5px;     
 }

 #ctn-icon-search i {
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 300ms; 
    margin: 10px;
 }

 #ctn-icon-search i:hover{
    color: var(--principal);
 }

 #ctn-bars-search{
    position: fixed;
    top: -35px;
    width: 100%;
    background: var(--bg-color);
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
 }

 #ctn-bars-search input{
    display: block;
    width: 1000px;
    margin: auto;
    padding: 19px;
    font-size: 18px;
    outline: 0;
    background: var(--bg-color);
    border: 1px solid var(--principal);
    border-radius: 5px;
    color: var(--primary-color);
 }

 #box-search {
    max-height: 300px;
    height: auto;
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background:var(--bg-color);
    z-index: 8;
    overflow-Y: visible;
    overflow-x: hidden;
    display: none;
 }

 #box-search li a {
    display: block;
    width: 1200px;
    color: var(--primary-color);
    padding: 12px 20px;
    text-decoration: none;
 }

 #box-search li a:hover{
    background: rgb(58, 58, 58);
 }

#box-search li a i{
   margin-right: 10px;
   color: rgb(139, 139, 139);
}

#cover-ctn-search{
   width: 100%;
   height: 100%;
   position: fixed;
   left: 0;
   background:rgba(0, 0, 0, 0.5);
   z-index: 7;
   display: none;
}


  /*Carousel*/

  .carousel {
     margin: 2rem 2rem 0 2rem;
  }

  .carousel__contenedor {
     position: relative;
  }

  .carousel__anterior,
  .carousel__siguiente {
     position: absolute;
     display: block;
     width: 30px;
     height: 30px;
     border: none;
     top: calc(50% - 20px);
     cursor: pointer;
     line-height: 30px;
     text-align: center;
     background: none;
     color:var(--primary-color);
     opacity: 20%;
  }

  .carousel__anterior:hover,
  .carousel__siguiente:hover  {
     opacity: 100%;
  }

  .carousel__anterior {
     left: -30px;
  }

  .carousel__siguiente {
     right: -30px;
  }

  .carousel__elemento {
     overflow: hidden;
     transform: translate3d(0, 0, 0);
     transition: all 600ms;
     animation-name: autoplay;
     animation-duration: 23.5s;
     animation-direction:alternate;
     animation-fill-mode: forwards;
     animation-iteration-count: infinite;
  }

  @keyframes autoplay{
     9%{
        transform: translate3d(calc(-100% * 0), 0, 0);
     }

     18%{
        transform: translate3d(calc(-100% * 1), 0, 0);
     }

     27%{
        transform: translate3d(calc(-100% * 2), 0, 0);
     }

     36%{
        transform: translate3d(calc(-100% * 3), 0, 0);
     }

     45%{
        transform: translate3d(calc(-100% * 4), 0, 0);
     }

     54%{
        transform: translate3d(calc(-100% * 5), 0, 0);
     }

     63%{
        transform: translate3d(calc(-100% * 6), 0, 0);
     }

     72%{
        transform: translate3d(calc(-100% * 7), 0, 0);
     }

     100%{
        transform: translate3d(calc(-100% * 8), 0, 0);
     }

  
  }

  .carousel__elemento {
     text-align: center;
     margin: 0 0.5rem;
  }

  .carousel__elemento:hover {
     border: 2px solid var(--principal);
     border-radius: 5px;
  }

  .carousel__indicadores .glider-dot {
     display: block;
     width: 30px;
     height: 4px;
     background:var(--primary-color);
     opacity: .2;
     border-radius: 0;
  }

  .carousel__indicadores .glider-dot:hover {
     opacity: .5;
  }

  .carousel__indicadores .glider-dot.active {
   opacity: 1;
}

/* Categorias*/

.todas_categorias {
   width: 100%;
   max-width: 130rem;
   margin: auto;
   perspective: 1000px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.todas_categorias a {
   text-decoration: none;
}

.contenedor_categorias {
   width:8rem;
   height: 4rem;
   position: relative;
   background: var(--principal);
   color: var(--bg-color);
   margin: 10px;
   padding: 15px 0 0 0;
   border-radius: 10px;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-weight: 700;
}

.contenedor_categorias_e{
   width:8rem;
   height: 4rem;
   position: relative;
   background: var(--principal);
   color: var(--bg-color);
   margin: 10px;
   padding: 23px 0 0 0;
   border-radius: 10px;
   text-align: center;
   align-items: center;
   justify-content: center;
   font-weight: 700;
}
.contenedor_categorias:hover, .contenedor_categorias_e:hover {
   background: #60dd94;
}

  /* Artículos*/

 h2, p {
    margin: 1.25rem;
 }

 p {
    font-size: 1.2rem;
 }

 .articles {
    width: 93%;
    margin: 0px 20px 0px 20px;
    padding: 1rem;
    position: relative;
    float: left;
    box-shadow: -20px 0 20px -30px black, 20px 0 20px -30px black;
    border-radius: 20px;
    text-align: justify;
    overflow: hidden;
 }

 .articles h2 {
    text-align: center;
 }

 .articles::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background:var(--principal); 
    border-radius: 1rem;
 }

 /* Barra de redes sociales*/

 .social {
    position:fixed;
    left: 0;
    top: 50%;
    z-index: 7;
 }

 .social ul {
    list-style: none;
 }

 /*.contactanos{
   height: 200px;
   width: 45px;
   background: black;
   color:var(--primary-color);
 }

 .contactanos h3{
    text-align: center;
    padding: 5px;
 }*/
    
 .social ul li a {
    display: inline-block;
    padding: 1rem 1.3rem;
    color:#fff;
    background: #000;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 20px;
 }

 .social ul li .icon-whatsapp {background:var(--principal) ;}
 .social ul li .icon-facebook {background:#3b5998;}
 .social ul li .icon-twitter {background:hsl(197, 100%, 47%);}
 .social ul li .icon-instagram {background-image: linear-gradient(to right top,
                                #f6a50c, #f79400, #f78300, #f77000, #f65b00, #fc4721,
                                #ff2e35, #ff0047, #ff006c, #ff0097, #f100c7, #c507f9);}
 .social ul li .icon-youtube {background:#FF0019;}
 .social ul li .icon-google-plus {background:#d95232;}
 .social ul li .icon-twitch {background:#A500FF;}

 .social ul li a:hover {
    padding: 1.3rem 2rem;
    background: black;
    margin-right: -30px;
 }


 /* Contenido */

 .container__card {
    width: 100%;
    max-width: 140rem;
    margin: auto;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 .card__father {
    margin: 10px;
    perspective: 1000px;
 }

 .card__father:hover .card {
    transform: rotateY(180deg);
 }

 .card {
    width: 15.5rem;
    height: 25.95rem;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
 }

 .card__front {
    background-size: cover;
    background-position: center;
 }

 .card__front,
 .card__back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
 }

 .card__back {
    transform: rotateY(180deg);
 }

 .body__card_front {
    width: 15.5rem;
    height: 25.95rem;
    justify-content: center;
    color: var(--primary-color);
    background: var(--bg-color);
    text-align: center;
    border-radius: 0.62rem;
    cursor: pointer;
    transition: all 600ms;
    border: 2px solid var(--principal);
 }

 .body__card_back {
    width: 15.5rem;
    height: 25.95rem;
    padding: 5px;
    background: rgb(70, 69, 69);
    border-radius: 0.62rem;
 }

 .body__card_back h3,
 .body__card_front h3,
 .body__card_back p,
 .body__card_front p{
    font-size: 1.12rem;
    font-weight: 700;
    margin-top: 1rem;
    color: var(--primary-color);
 }

 .body__card_back h3 {
   text-align: center;
 }

 .body__card_back h5 {
    color: var(--principal);
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 60px;
 }

 #img_plantas {
   height: 21.7rem;
   width: 100%;
   border-radius: 0.3rem;
 }

 .button {
    background: var(--principal);
    border: none;
 }

 .button:hover {
    background: #41af6f;
 }

 .d-grid {
    width: 92%;
    bottom: 20px;
    left: 10px;
    position: absolute;
 }
 
 
  /* Botón de subir */

 #button-up {
    width: 3.75rem;
    height:  3.75rem;
    background: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--bg-color);
    border-radius: 50%;
    font-size: 1.25rem;
    position: fixed;
    bottom: 1.12rem;
    right: 0.7rem;
    cursor: pointer;
    border: 0.25rem solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index: 7;
    padding: 10px 0 0 0;
 }



 #button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, .1);
 }

 #flecha_subir {
    font-size: 2rem;
    font-weight: 700;
    
   
 }



  /* Pie de página */

  footer {
     width: 100%;
     background-color: rgb(61, 60, 60);
     padding: 40px 0 0 0;
     overflow:hidden;
     margin-top: 40px;
     position: relative;
  }

  footer::before {
     content: '';
     width: 100%;
     height: 0.2rem;
     position: absolute;
     top: 0;
     left: 0;
     background:var(--principal); 
  }

  .container__footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     max-width: 1000px;
     margin: auto;
     margin-top: 20px;
     padding: 10px;
  }

  .box__footer {
     display: flex;
     flex-direction: column;
     padding: 40px 10px 40px 10px;
  }

  .box__footer .logo_abajo img {
     width: 110px;
  }

  .box__footer h2 {
     margin-bottom: 30px;
     color: var(--principal);
     font-weight: 700;
     text-align: left;
     margin: 0;
  }

  .box__footer a {
     margin-top: 10px;
     color: var(--primary-color);
     font-weight: 600;  
     text-decoration: none;
  }

  .box__footer a:hover {
     opacity: 0.8;
  }

  .box__footer a i {
   padding: 5px;
  }

  .box__footer a .fab {
     font-size: 20px;
  }

  .box__copyright {
     max-width: 1200px;
     margin: auto;
     text-align: center;
     background: #4d4a4a;
  }

  .box__copyright p {
     margin-top: 20px;
     color: var(--primary-color);
  }

  .box__copyright hr {
     border: none;
     height: 1px;
     background-color: var(--primary-color);

  }


 /* Adaptable */

 @media screen and (max-width:1300px) {

         #ctn-bars-search, #ctn-bars-search input, #box-search {
            width: 100%;
       }
   }

 @media screen and (max-width:1210px) {
    .Macetas {
       display: none;
    }
 }

 @media screen and (max-width:1000px) {
        
        .articles {
            float:none;
          
        }

        .formulario {
            float: none;
            width: 60%;
        }

        h2 {
            text-align: center;
        }

        .linea {
            width: 100%;
            height: 1px;
            background: #9e9e9e;
            margin: 0 0 50px 0;
        }

     }

 @media screen and (max-width:1130px) {

        header #nav {
            width: 60%;
            height: 100%;
            left: -100%;
            margin: 0rem;
            position: fixed;
            background: var(--bg-color);
            overflow-y: scroll;
            top: 5rem;
     
        }

        nav {
            justify-content: left;
            align-items: flex-start;

        }

        .titulo_video {
            text-align: center;
        }

        .logo {
            display: none;
        }

        header nav ul {
         width: 100%;
        }

        header nav ul li {
            display: block;
            float:none;
            border-bottom: 0.1rem solid #369e61;
            text-align: center;
        }

        nav #alinear_menu {
           margin: 0 0 40px 0;
        }

        header nav ul li a {
            padding: 1.31rem 1rem 1.31rem 1rem;
            display: block;
            align-items: flex-start;
            color: var(--principal);
        }

        .menu_bar {
            display: block;
            width: 100%;
        }

        .menu_bar .bt-menu {
            display: block;
            padding: 1.25rem;
            height: 4.19rem;
            color: var(--principal);
            text-decoration: none;
            font-weight: bold;
            font-size: 1.56rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 10px;
        }

        .portada {
           top: 0rem;
         }

        .menu_bar span {
            float: right;
            font-size: 1.87rem;
        }

        /*.theme-switch-wrapper {
            left: 50%;
        }*/

        #ctn-icon-search {
         left: 47%;
        }

        .btn-menu-pushbar {
         left: 54%;
        }


      .Macetas {
         display: block;
      }
       

     }

 

 @media screen and (max-width:830px) {
        .titulo h1 b {
            display: block;
        }

        .titulo h1 {
         font-size: 5.5rem;
     }

     .titulo p {
      font-size: 2.5rem;
     }

     .pushbar {
      padding: 0;
   }

   .pushbar .btn-cerrar.izquierda {
      padding: 20px;
   }

   .table__productos > img {
    display: none;
   }

     }
     


 @media screen and (max-height:500px) {
        .social {
            top: 30%;
        }
     
     }

    

 @media screen and (max-width:450px) {
        .titulo h1 {
            font-size: 5rem;
        }

        .titulo p {
             font-size: 1.8rem;
        }

        .social {
             top: 27%;
             font-size: 5px;
        }

        .social ul li a {
             font-size: 10px;
        }

        #button-up {
             width: 2.75rem;
             height:  2.75rem;
             bottom: 0.7rem;
             right: 0.7rem;
        }

        .reproducir_video { 
             width: 300px;
             height: 250px;
        }

        .formulario p  {
             font-size: 10px;
             font-weight: 800;
        }

       .controls {
             font-size: 10px;
        }

        #ctn-icon-search {
         left: 40%;
        }
     }


 @media screen and (max-width:330px){
     .aviso_envio {
      width: 210px;
      height: 50px;
   }

   
   .social {
      top: 50%;
      font-size: 5px;
 }

 #ctn-icon-search {
   left: 36%;
  }

  .btn-menu-pushbar {
   left: 56%;
  }

}