@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
  
  * {
     margin:0;
     padding:0;
     font-family: 'Source Serif Pro', serif;
     box-sizing: border-box;
 }

  /*Variable para modo oscuro*/

 :root {
   --primary-color: #000000;
   --bg-color: #ffffff;
   --sombra: 0.62rem 0.62rem 0rem 0rem #46A3FB, 1.25rem 1.25rem #83C1FB, 1.87rem 1.87rem 0.87rem #ACD5FD;
 }

 [data-theme="dark"] {
   --primary-color: #cccccc;
   --bg-color: #272626;
 }

 body {
     font-size: 16px;
     background-color: var(--bg-color);
     color: var(--primary-color);
 }

  /* Barra de desplazamiento (scroll)*/

 body::-webkit-scrollbar {
     width: 0.62rem;
 }

 body::-webkit-scrollbar-thumb {
     background: #46A3FB;
 }

  /* Menu de navegación*/

 .contenedor {
    background-color: var(--bg-color);
    width:100%;
    height: 4.19rem;
    position: fixed;
    overflow: hidden;
    max-width: 10000px;
    z-index: 2000;
    box-shadow: 0 4px 45px -22px black;  
    top:0;  
 }

 .contenedor::before {
    content: '';
    background: #46A3FB;
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3000;
 }

 nav {
    width: 100%;
 }

 .menu_bar {
     display:none;
 }

 .logo {
     width: 4.31rem;
     float: left; 
     position: absolute;
 }

 header nav {
    overflow: hidden;
 }

 header nav ul {
    list-style: none; 
 }

 header nav ul li {
    float: left;
 }

 nav .alinear_menu {
   display: flex;
   justify-content: center;
 }

 header nav ul li a {
    padding: 1.5rem 2rem;
    display: flex;
    color:#46A3FB;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 header nav ul li a span {
    margin-right: 0.5rem;
 }

 #inicio a:hover{
    font-size: 1.1rem;
    background: #cde4fa;
 }
 
 #inicio a {
    font-size: 1rem;
 }

 /*botón modo oscuro*/

 .theme-switch-wrapper {
    position: absolute;
    top: 42px;
    left: 95%;
    transform: translate(-50%, -50%);
 }

 .theme-switch {
    display: block;
    height: 34px;
    position: relative;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 1rem;
 }

 .theme-switch input {
    display: none;
 }

 .slider {
    background-color: #46A3FB;
    bottom: 0;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    transition: .0s all;
 }

 .slider::before {
    background-color: #ffffff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s all;
    width: 26px;
 }

 .inoco1 {
    position: absolute;
    top:10px;
    left: 15%;
    color: #ffffff;
    display: flex;
 }

 .inoco2 {
    position: absolute;
    top:10px;
    left: 35px;
    color: #ffffff;
    display: flex;
 }

 input:checked + .slider {
    background-color: #46A3FB;
 }

 input:checked + .slider::before {
    transform: translateX(26px);
 }

 .slider.round {
    border-radius: .25rem;
 }

 .slider.round::before {
    border-radius: .25rem;
 }

  /* Portada*/

 .portada {
    width: 100%;
    height: 31.25rem;
    position: relative;
    margin-top: 4rem;
    background-image: url(../imagenes/tierra.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }

 .portada::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(38, 172, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
 }

 .titulo {
    max-width: 50rem;
    height: 31.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
 }

 .titulo h1 {
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    padding: 10px;
    color: var(--bg-color);
 }

 .titulo h1 b {
   font-weight: 500;
 }

 .titulo p {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--bg-color);
 }

  /* Artículos*/

 h2, p {
    margin: 1.25rem;
 }

 p {
    font-size: 1.2rem;
 }

 .articles {
    width: 60%;
    margin: 2rem 1.5rem 1.25rem 6%;
    padding: 1rem;
    position: relative;
    float: left;
    box-shadow: -20px 0 20px -30px black, 20px 0 20px -30px black;
    border-radius: 20px;
    text-align: justify;
    overflow: hidden;
 }

 .articles h2 {
    text-align: center;
 }

 .articles::before {
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background:#46A3FB; 
    border-radius: 1rem;
 }

 .texto_imagen_dinosaurio {
    background: #46A3FB;
    width: 100%;
    height: 30%;
    padding: 2px;
 }

 .texto_imagen_dinosaurio p {
    text-align: center;
    color: var(--bg-color);
 }
 
  /* Formulario */

 .formulario {
    float: left;
    width: 26%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
    font-family: 'calibri';
    box-shadow: -20px 0 20px -30px black, 20px 0 20px -30px black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
 }

 .formulario::before {
   content: '';
   width: 100%;
   height: 6px;
   position: absolute;
   top: 0;
   left: 0;
   background:#46A3FB; 
   border-radius: 1rem;
 }

 .formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
 }

 .controls {
    background-color: var(--bg-color);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 2px solid #46A3FB;
    font-family: 'calibri';
    font-size: 18px;
    outline-color: #074ee7;
    color: var(--primary-color);
 }

 .formulario p {
   height: 40px;
   font-size: 15px;
   line-height: 20px;
   margin: 0;
   text-align: center;
 }
 
 .formulario p a {
    color: #46A3FB;
    text-decoration: none;
    font-weight: 800;
 }

 .formulario p a:hover {
    text-decoration: underline;
 }

 .formulario .boton_registrar {
    width: 100%;
    background:  #46A3FB;
    border: none;
    padding: 12px;
    color: rgb(223, 223, 223);
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
 }

 .formulario .boton_registrar:hover {
    outline: none;
    font-size: 17px;
 }

 /* Barra de redes sociales*/

 .social {
    position:fixed;
    right: 0%;
    top: 45%;
    z-index: 20000;
 }

 .social ul {
    list-style: none;
 }
    
 .social ul li a {
    display: inline-block;
    padding: 0.62rem 0.94rem;
    color:#fff;
    background: #000;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
 }

 .social ul li .icon-facebook {background:#3b5998;}
 .social ul li .icon-twitter {background:hsl(197, 100%, 47%);}
 .social ul li .icon-instagram {background-image: linear-gradient(to right top,
                                #f6a50c, #f79400, #f78300, #f77000, #f65b00, #fc4721,
                                #ff2e35, #ff0047, #ff006c, #ff0097, #f100c7, #c507f9);}
 .social ul li .icon-youtube {background:#FF0019;}
 .social ul li .icon-google-plus {background:#d95232;}
 .social ul li .icon-twitch {background:#A500FF;}

 .social ul li a:hover {
    padding: 0.62rem 1.87rem;
    background: black;
    margin-left: -30px;
 }
 
 /* Video */

 .video {
    margin:0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }

 .reproducir_video {
   border-radius: 1rem;
 }

 /* Temas relacionados */

 #temas_relacionados a {
    text-decoration: none;
 }

 #temas_relacionados h3 {
    font-family: sans-serif;
 }

 .title {
    text-align: center;
    font-family: sans-serif;
 }

 #temas_relacionados {
    width: 100%;
    max-width: 50rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 #temas_relacionados a {
    cursor: default;
 }

 #temas_relacionados #option {
    width: 12.5rem;
    height: 18.75rem;
    background: #dddcdc;
    margin: 1.87rem;
    padding: 0.62rem;
    text-align: center;
    border-radius: 0.62rem;
    cursor: pointer;
    transition: all 300ms;
 }

 #option:hover {
    box-shadow: var(--sombra);
    transform: translate(-0.31rem, -0.31rem);
 }

 #option img {
    width: 100%;
    margin-top: 0rem;
    border-radius: 0.31rem;
 }

 #option h3 {
    font-size: 1.12rem;
    margin-top: 1.25rem;
    color: #505050;
 }

  /* Botón de subir */

 #button-up {
    width: 3.75rem;
    height:  3.75rem;
    background: #46A3FB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 1.25rem;
    position: fixed;
    bottom: 1.12rem;
    right: 0.7rem;
    cursor: pointer;
    border: 0.25rem solid transparent;
    transition: all 300ms ease;
    transform: scale(0);
    z-index: 100;
 }

 #button-up:hover {
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, .1);
 }

 #flecha_subir {
    font-size: 2rem;
 }

 /* Pie de página */

 .container_footer {
    width: 100%;
    padding: 10px 0;
    overflow:hidden;
    margin-top: 40px;
    position: relative;
 }

 .container_footer::before {
    content: '';
    width: 100%;
    height: 0.3rem;
    position: absolute;
    top: 0;
    left: 0;
    background:#46A3FB; 
 }

 .container_footer footer {
    max-width: 1200px;
    margin: auto;
 }

 .container_footer footer .logo_footer {
    text-align: center;
 }

 .container_footer footer .logo_footer img {
    width: 50px;
 }

 .container_footer footer h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    color: #46A3FB;
    text-align: center;
 }

 /* Adaptable */

 @media screen and (max-width:1300px) {
         .articles {
            width: 57%;
        }
     }

 @media screen and (max-width:1000px) {
        
        .articles {
            float:none;
            width: 85%;
        }

        .formulario {
            float: none;
            width: 60%;
        }

        h2 {
            text-align: center;
        }

        .linea {
            width: 100%;
            height: 1px;
            background: #9e9e9e;
            margin: 0 0 50px 0;
        }
     }

 @media screen and (max-width:960px) {

        header nav {
            width: 80%;
            height: 100%;
            left: -100%;
            margin: 0rem;
            position: fixed;
            background: var(--bg-color);
        }

        nav {
            justify-content: left;
            align-items: flex-start;
        }

        .titulo_video {
            text-align: center;
        }

        .logo {
            display: none;
        }

        header nav ul li {
            display: block;
            float:none;
            border-bottom: 0.1rem solid #46A3FB;
        }

        header nav ul li a {
            padding: 1.31rem 80rem 1.31rem 1rem;
            width: 100%;
            align-items: flex-start;
        }

        .menu_bar {
            display: block;
            width: 100%;
        }

        .menu_bar .bt-menu {
            display: block;
            padding: 1.25rem;
            height: 4.19rem;
            color: #46A3FB;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.56rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .portada {
           top: 0rem;
         }

        .menu_bar span {
            float: right;
            font-size: 1.87rem;
        }

        .theme-switch-wrapper {
            left: 50%;
        }

        nav .alinear_menu {
            justify-content: left;
        }
     }

 @media screen and (max-width:900px) {
        .articles {
            width: 82%;
        }
     }

 @media screen and (max-width:830px) {
        .titulo h1 b {
            display: block;
        }
     }

 @media screen and (max-height:500px) {
        .social {
            top: 30%;
        }
     }

 @media screen and (max-width:450px) {
        .titulo h1 {
            font-size: 2.5rem;
        }

        .titulo p {
             font-size: 0.8rem;
        }

        .social {
             top: 57%;
             font-size: 5px;
        }

        .social ul li a {
             font-size: 10px;
        }

        #button-up {
             width: 2.75rem;
             height:  2.75rem;
             bottom: 0.7rem;
             right: 0.7rem;
        }

        .reproducir_video { 
             width: 300px;
             height: 250px;
        }

        .formulario p  {
             font-size: 10px;
             font-weight: 800;
        }

       .controls {
             font-size: 10px;
        }
     }